.inputsCont {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 24px;
}
.form {
  display: flex;
  flex-direction: column;

  max-width: 295px;
  width: 100%;
}

.input {
  border: 1px solid #26262626;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  outline: none;
  width: 100%;
  border-radius: 30px;
  max-width: 295px;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;

  display: flex;
}
.input::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;

  color: #26262680;
}
.submitBtn {
  background: #f6b83d;

  padding: 12px 99px;
  border: none;
  outline: none;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 295px;
  width: 100%;

  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.03em;

  color: #ffffff;
  text-transform: uppercase;

  margin-bottom: 12px;
}
.text {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-align: center;

  color: #26262680;
}
.link {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.03em;

  color: #f6b83d;
}
.error {
  margin-left: 12px;
  margin-top: 2px;

  color: #ef2447;

  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: -0.03em;
  text-align: left;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 295px;
}
.iconError,
.iconSuccess {
  position: absolute;
  right: 38px;

  width: 18px;
  height: 18px;
}
.iconErrorEmail,
.iconSuccessEmail {
  position: absolute;
  right: 12px;

  width: 18px;
  height: 18px;
}

.eyeIcon {
  position: absolute;
  right: 12px;

  width: 18px;
  height: 18px;
}
.iconSuccess,
.iconSuccessEmail {
  fill: #08aa83;
}
.successInput {
  border: 1px solid #08aa83;
}

.iconError,
.iconErrorEmail {
  color: #ef2447;
}
.errorInput {
  border: 1px solid #ef2447;
}
