.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.desktopNav {
  display: none;
}

.mobileNav {
  display: block;
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex;
  }

  .mobileNav {
    display: none;
  }
}
