.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktopNav {
  display: none;
}

.mobileNav {
  display: block;
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex;
  }

  .mobileNav {
    display: none;
  }
}
