:root {
  --main-white-color: #f9f9f9;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a,
p,
span {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
